/* .availskillslist 
{
    display: flex;
} */

/* .mentorslist
{
    padding: 0;
} */
/* .mentorslist > li
{
    list-style-type: none;
} */


.styledButton
{
    color: #10913bb6 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: none;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

button:hover
{
    /* color: #ffffff !important; */
    background: #0557455e;
    /* border-color: #f6b93b !important; */
    transition: all 0.4s ease 0s;
}